<header class="flex items-center">
  <h1>Alaga</h1>
  <div>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Home</a></li>
    </ul>
  </div>
</header>